In [14]:
import pandas as pd

In [15]:
df_min = pd.read_csv("diet_minimums.csv")

In [16]:
print(df_min.columns)
df_min.head()

Index(['Unnamed: 0', 'Nutrition', 'Source', 'C 1-3', 'F 4-8', 'M 4-8',
       'F 9-13', 'M 9-13', 'F 14-18', 'M 14-18', 'F 19-30', 'M 19-30',
       'F 31-50', 'M 31-50', 'F 51+', 'M 51+'],
      dtype='object')

,Unnamed: 0,Nutrition,Source,C 1-3,F 4-8,M 4-8,F 9-13,M 9-13,F 14-18,M 14-18,F 19-30,M 19-30,F 31-50,M 31-50,F 51+,M 51+
0,0,Energy,---,1000.0,1200.0,1400.0,1600.0,1800.0,1800.0,2200.0,2000.0,2400.0,1800.0,2200.0,1600.0,2000.0
1,1,Protein,RDA,13.0,19.0,19.0,34.0,34.0,46.0,52.0,46.0,56.0,46.0,56.0,46.0,56.0
2,2,"Fiber, total dietary",---,14.0,16.8,19.6,22.4,25.2,25.2,30.8,28.0,33.6,25.2,30.8,22.4,28.0
3,3,"Folate, DFE",RDA,150.0,200.0,200.0,300.0,300.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0
4,4,"Calcium, Ca",RDA,700.0,1000.0,1000.0,1300.0,1300.0,1300.0,1300.0,1000.0,1000.0,1000.0,1000.0,1200.0,1000.0

In [17]:
df_min.set_index("Nutrition", inplace=True)

In [18]:
df_min.head()

,Unnamed: 0,Source,C 1-3,F 4-8,M 4-8,F 9-13,M 9-13,F 14-18,M 14-18,F 19-30,M 19-30,F 31-50,M 31-50,F 51+,M 51+
Nutrition,,,,,,,,,,,,,,,
Energy,0,---,1000.0,1200.0,1400.0,1600.0,1800.0,1800.0,2200.0,2000.0,2400.0,1800.0,2200.0,1600.0,2000.0
Protein,1,RDA,13.0,19.0,19.0,34.0,34.0,46.0,52.0,46.0,56.0,46.0,56.0,46.0,56.0
"Fiber, total dietary",2,---,14.0,16.8,19.6,22.4,25.2,25.2,30.8,28.0,33.6,25.2,30.8,22.4,28.0
"Folate, DFE",3,RDA,150.0,200.0,200.0,300.0,300.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0
"Calcium, Ca",4,RDA,700.0,1000.0,1000.0,1300.0,1300.0,1300.0,1300.0,1000.0,1000.0,1000.0,1000.0,1200.0,1000.0

In [21]:
def get_diet_min(nutrient: str, group: str) -> float:
    try:
        val = df_min.loc[nutrient, group]  
        return float(val)                  
    except KeyError:
        return None
    except ValueError:
        return None

In [ ]:
import unittest

class TestDietMinFunctions(unittest.TestCase):
    
    def test_protein_f_19_30(self):
        val = get_diet_min("Protein", "F 19-30")
        self.assertEqual(val, 46.0)

    def test_protein_m_19_30(self):
        val = get_diet_min("Protein", "M 19-30")
        self.assertEqual(val, 56.0)

    def test_iron_f_19_30(self):
        # 如果 Iron, Fe 在 F 19-30 是 18.0 (举例，看你实际表格)
        val = get_diet_min("Iron, Fe", "F 19-30")
        self.assertEqual(val, 18.0)

    def test_nutrient_not_found(self):
        val = get_diet_min("Vitamin_Z", "F 19-30")
        self.assertIsNone(val)

    def test_group_not_found(self):
        val = get_diet_min("Protein", "Alien 999")
        self.assertIsNone(val)

unittest.main(argv=[''], exit=False)